<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design-2</title>
    <link rel="stylesheet" href="/assets2/css/common.css">
    <link rel="stylesheet" href="/assets2/css/style.css">
</head>

<body>
    <div class="wrapper">
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-3 col py-1">
                        <img src="/assets2/images/Logo.png" alt="">
                    </div>
                    <div class="col col-3 py-1 d-flex jcc">
                        <a href="" class="link t-blue br-12 fw-700">Hello, <%= user %></a>
                    </div>
                    <div class="col col-3 d-flex jce py-1">
                        <nav>
                            <ul class="d-flex unstyled">
                                <li class="ml-2">
                                    <a href="/" class="link t-black fw-700">Home</a>
                                </li>
                                <li class="ml-2">
                                    <a href="/update" class="link t-gray fw-500">Profile</a>
                                </li>
                                <li class="ml-2">
                                    <a href="/#portfolio" class="link t-gray fw-500">Projects</a>
                                </li>
                                <li class="ml-2">
                                    <a href="/logout" class="link t-gray fw-500">Logout</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <% if(msg){ %>
        <div class="container" id="msg">
            <div class="row">
                <div class="my-2 w100 col d-flex jcsb">
                    <p class="t-green p-">
                        <%= msg %>
                    </p>
                    
                    <span class="cp border all-center br-50 bg-green t-white x20-20" onClick="document.querySelector('#msg').style.display = 'none'">X</span>

                </div>
            </div>
        </div>
        <% } %>
        <section id="hero" class="bg-light-gray">
            <div class="d-flex">
                <div class="w65 all-center">
                    <div class="hero-content">
                        <h1 class="fs-51 fw-700 t-light-blue">Number #1, Southern Asia Digital Product Agency</h1>
                        <p class="my-1 fs-16 fw-200 t-light-blue hero-p-max">
                            We bring the results while helping you achieve cost and time savings without taking on risk
                            or management overhead.
                        </p>
                        <a href="#" class="link bg-light-blue t-white px-2 py-1 br-12 my-1 dib fw-600">See Our
                            Portfolio</a>
                    </div>

                </div>
                <div class="w35">
                    <div class="hero-img">
                        <img src="/assets2/img/hero.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section id="partner">
            <div class="container">
                <div class="row my-4">
                    <div class="col col-2">
                        <div class="partner-max-content">
                            <div class="top-partner-box">
                                <h6 class="t-cyan fs-14 fw-500">OUR PARTNER</h6>
                            </div>
                            <h6 class="fs-30 fw-600">We've Worked with them, We Trust Each Other</h6>
                        </div>
                    </div>
                    <div class="col col-2">
                        <div class="partner-max-content">
                            <div class="top-partner-box"></div>
                            <p class="t-gray">Our team provides high-level creative education to a global audience of
                                students, educators, and enterpreneurs all over the world</p>
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col col-5">
                        <img src="/assets2/img/slack.png" alt="">
                    </div>
                    <div class="col col-5">
                        <img src="/assets2/img/Shape.png" alt="">

                    </div>
                    <div class="col col-5">
                        <img src="/assets2/img/fitbit.png" alt="">

                    </div>
                    <div class="col col-5">
                        <img src="/assets2/img/google.png" alt="">

                    </div>
                    <div class="col col-5">
                        <img src="/assets2/img/airbnb.png" alt="">

                    </div>
                </div>

            </div>
        </section>

        <section id="work" class="bg-light-gray py-4">
            <div class="container">
                <div class="row py-2">
                    <div class="col col-3">
                        <h3 class="fw-600 fs-36">What We do</h3>
                    </div>
                    <div class="col d-flex alc">
                        <p class="fs-16 t-gray">We work together with our client to execute impactful product.</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col col-3">
                        <div class="card br-12 d-flex">
                            <img src="/assets2/img/Oval.png" alt="" class="x30 mx-1">
                            <div class="card-content">
                                <h4 class="fw-500 fs-18 mb-05">Branding Identity</h4>
                                <p class="fw-300 fs-16">We make logo and concept for your brand needs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-3">
                        <div class="card br-12 d-flex">
                            <img src="/assets2/img/Polygon-2.png" alt="" class="x30 mx-1">
                            <div class="card-content">
                                <h4 class="fw-500 fs-18 mb-05">Development</h4>
                                <p class="fw-300 fs-16">We code your apps, website and dashboard to you.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-3">
                        <div class="card br-12 d-flex">
                            <img src="/assets2/img/Polygon-1.png" alt="" class="x30 mx-1">
                            <div class="card-content">
                                <h4 class="fw-500 fs-18 mb-05">UI/UX Design</h4>
                                <p class="fw-300 fs-16">Making beautifull and intuitive design digital product.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-3">
                        <div class="card br-12 d-flex">
                            <img src="/assets2/img/Rectangle.png" alt="" class="x30 mx-1">
                            <div class="card-content">
                                <h4 class="fw-500 fs-18 mb-05">Microstock</h4>
                                <p class="fw-300 fs-16">We produce million asset for your business needs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-3">
                        <div class="card br-12 d-flex">
                            <img src="/assets2/img/Triangle.png" alt="" class="x30 mx-1">
                            <div class="card-content">
                                <h4 class="fw-500 fs-18 mb-05">Social Media</h4>
                                <p class="fw-300 fs-16">Planiing and maintenance social media for each audience.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-3">
                        <div class="card br-12 d-flex">
                            <img src="/assets2/img/Polygon.png" alt="" class="x30 mx-1">
                            <div class="card-content">
                                <h4 class="fw-500 fs-18 mb-05">Research</h4>
                                <p class="fw-300 fs-16">Helping research startup or brand to business needs.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="portfolio" class="my-4">
            <div class="container oh">
                <div class="row">
                    <div class="col col-2">
                        <h6 class="fs-14 fw-500 t-cyan">PROJECTS</h6>
                        <h4 class="fs-30 my-05 t-black fw-600">Javascript Projects</h4>
                    </div>
                    <div class="col col-2 px-2 d-flex jce alc">
                        <a class="link fs-18 cp fw-500 t-cyan t-right mx-1 p-05 br-50 logo-bg"
                            onclick="portPrev()">
                            << </a>
                                <a class="link fs-18 cp fw-500 t-cyan t-right mx-1 p-05 br-50 logo-bg"
                                    onclick="portNext()">>></a>
                    </div>
                </div>
                <div class="row my-2 fnw" id="portCard" data-cols="3">
                    <div class="col ">
                        <div class="port-card br-12 bs">
                            <a href="/js?name=ttt" class="link">
                                <div class="port-img">
                                    <img src="/js/ttt.png" alt="" class="w100">
                                </div>
                                <div class="port-info bs p-1">
                                    <h6 class="fs-14 fw-500 t-blue">Tic Tac Toe</h6>
                                    <h4 class="fs-30 my-05 t-black">JS Games</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="port-card br-12 bs">
                            <a href="/js?name=snakeCanvas" class="link">
                                <div class="port-img">
                                    <img src="/js/snake2.png" alt="" class="w100">
                                </div>
                                <div class="port-info bs p-1">
                                    <h6 class="fs-14 fw-500 t-blue">Snake Game</h6>
                                    <h4 class="fs-30 my-05 t-black">JS Games (Canvas)</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="port-card br-12 bs">
                            <a href="/js?name=kuku" class="link">
                                <div class="port-img">
                                    <img src="/js/color.png" alt="" class="w100">
                                </div>
                                <div class="port-info bs p-1">
                                    <h6 class="fs-14 fw-500 t-blue">KUKU color Game</h6>
                                    <h4 class="fs-30 my-05 t-black">JS Games</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="port-card br-12 bs">
                            <a href="/js?name=snakeGame" class="link">
                                <div class="port-img">
                                    <img src="/js/snake.png" alt="" class="w100">
                                </div>
                                <div class="port-info bs p-1">
                                    <h6 class="fs-14 fw-500 t-blue">Snake Game</h6>
                                    <h4 class="fs-30 my-05 t-black">JS Games</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col ">
                        <div class="port-card br-12 bs">
                            <a href="/js?name=2048" class="link">
                                <div class="port-img">
                                    <img src="/js/2048.png" alt="" class="w100">
                                </div>
                                <div class="port-info bs p-1">
                                    <h6 class="fs-14 fw-500 t-blue">2048</h6>
                                    <h4 class="fs-30 my-05 t-black">JS Games</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                  
                </div>

            </div>
        </section>

        <section id="testimonials" class="my-4 ">
            <div class="container oh">
                <div class="row">
                    <div class="col col-2">
                        <h6 class="fs-14 fw-500 t-cyan">TESTIMONIALS</h6>
                        <h4 class="fs-30 my-05 t-black fw-600">What People Say about Us</h4>
                    </div>
                    <div class="col col-2 px-2 d-flex jce alc">
                        <a class="link fs-18 cp fw-500 t-cyan t-right mx-1 p-05 br-50 logo-bg" onclick="testPrev()">
                            << </a>
                                <a class="link fs-18 cp fw-500 t-cyan t-right mx-1 p-05 br-50 logo-bg"
                                    onclick="testNext()">>></a>
                    </div>
                </div>
                <div class="row my-2 fnw" id="testimonials-cards" data-cols="2">
                    <div class="col">
                        <div class="test-card p-2 br-12 bs">
                            <div class="d-flex">
                                <img src="/assets2/img/profile-img.png" alt="" class="x70 br-50">
                                <div class="mx-1">
                                    <h6 class="fs-24 fw-600 t-black">Jaquon Hart</h6>
                                    <h4 class="fs-14 my-05 fw-400 t-gray">VP Manager - Lizlle Comapny</h4>
                                </div>
                            </div>
                            <p class="t-gray mt-2">
                                "Their UI/UX skills and experience, were key to identifying potential friction points
                                within our Business Processes, which they fixed or streamlined beautifull"
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="test-card p-2 br-12 bs">
                            <div class="d-flex">
                                <img src="/assets2/img/profile-img.png" alt="" class="x70 br-50">
                                <div class="mx-1">
                                    <h6 class="fs-24 fw-600 t-black">Jaquon Hart</h6>
                                    <h4 class="fs-14 my-05 fw-400 t-gray">VP Manager - Lizlle Comapny</h4>
                                </div>
                            </div>
                            <p class="t-gray mt-2">
                                "Their UI/UX skills and experience, were key to identifying potential friction points
                                within our Business Processes, which they fixed or streamlined beautifull"
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="test-card p-2 br-12 bs">
                            <div class="d-flex">
                                <img src="/assets2/img/profile-img.png" alt="" class="x70 br-50">
                                <div class="mx-1">
                                    <h6 class="fs-24 fw-600 t-black">Jaquon Hart</h6>
                                    <h4 class="fs-14 my-05 fw-400 t-gray">VP Manager - Lizlle Comapny</h4>
                                </div>
                            </div>
                            <p class="t-gray mt-2">
                                "Their UI/UX skills and experience, were key to identifying potential friction points
                                within our Business Processes, which they fixed or streamlined beautifull"
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="test-card p-2 br-12 bs">
                            <div class="d-flex">
                                <img src="/assets2/images/Avatar(1).png" alt="" class="x70 br-50">
                                <div class="mx-1">
                                    <h6 class="fs-24 fw-600 t-black">Valdemar Forsberg</h6>
                                    <h4 class="fs-14 my-05 fw-400 t-gray">Founder Digitac Finance</h4>
                                </div>
                            </div>
                            <p class="t-gray mt-2">
                                Ehya pushed us to think beyond our inital scope and imagination while ensuring that the
                                design and shape of the platform are continually adjusted based on data.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="social-media" class="my-4 ">
            <div class="container">
                <div class="row">
                    <div class="col w100">
                        <h6 class="fs-14 fw-500 t-cyan t-center">OUR SOCIAL MEDIA</h6>
                        <h4 class="fs-30 my-05 t-black t-center">Let's be Friends</h4>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col col-4">
                        <div class="social-card p-1 all-center fc">
                            <div class="x60 logo-bg br-12 all-center ">
                                <img src="/assets2/img/instagram.png" alt="" class="">
                            </div>
                            <h5 class="fw-600 fs-16 my-1 t-center fs-16">Instagram</h5>
                            <p class="fw-300 fs-14 t-center">For our Portfolio and Daily activities in office</p>

                            <a href="#" class="db fw-600 my-1 fs-18 t-blue link">Follow Us ></a>
                        </div>
                    </div>
                    <div class="col col-4">
                        <div class="social-card p-1 all-center fc">
                            <div class="x60 logo-bg br-12 all-center ">
                                <img src="/assets2/img/twitter.png" alt="" class="">
                            </div>
                            <h5 class="fw-600 fs-16 my-1 t-center fs-16">twitter</h5>
                            <p class="fw-300 fs-14 t-center">For random thoughts and funny things</p>

                            <a href="#" class="db fw-600 my-1 fs-18 t-blue link">Follow Us ></a>
                        </div>
                    </div>
                    <div class="col col-4">
                        <div class="social-card p-1 all-center fc">
                            <div class="x60 logo-bg br-12 all-center ">
                                <img src="/assets2/img/dribbble.png" alt="" class="">
                            </div>
                            <h5 class="fw-600 fs-16 my-1 t-center fs-16">Dribble</h5>
                            <p class="fw-300 fs-14 t-center">For Updated & Detailed all of Our Portfolio</p>

                            <a href="#" class="db fw-600 my-1 fs-18 t-blue link">Follow Us ></a>
                        </div>
                    </div>
                    <div class="col col-4">
                        <div class="social-card p-1 all-center fc">
                            <div class="x60 logo-bg br-12 all-center ">
                                <img src="/assets2/img/youtube.png" alt="" class="">
                            </div>
                            <h5 class="fw-600 fs-16 my-1 t-center fs-16">Youtube</h5>
                            <p class="fw-300 fs-14 t-center">For our video tutorial and tips on design industry</p>

                            <a href="#" class="db fw-600 my-1 fs-18 t-blue link">Subscribe ></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="discuss">
            <div class="bg-cyan p-4 all-center fc">
                <h4 class="fs-30 fw-600 t-white">We're Ready for a Challenging Project</h4>
                <p class="fs-14 fw-200 my-05 t-white">Send us your brief and tell your project too. We are ready to help
                    all you need</p>
                <a href="#" class="link px-2 py-05 bg-white t-black fw-600 br-12 my-1">Let's Discuss it!</a>
            </div>
        </section>
        <footer class="py-4">
            <div class="container">
                <div class="row">
                    <div class="col-5">
                        <div class="inner-content">

                            <div class="top-bar">
                                <img src="/assets2/images/logo-white.png" alt="" class="">
                            </div>
                            <span class="db t-gray my-1">Build a modern and creative website with crealand</span>
                            <ul class="d-flex unstyled">
                                <li>
                                    <a href="" class="link mr-1"><img src="/assets2/images/google.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="" class="link mx-1"><img src="/assets2/images/twitter.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="" class="link mx-1"><img src="/assets2/images/instagram.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="" class="link mx-1"><img src="/assets2/images/linkedin.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="" class="link mx-1"><img src="/assets2/images/youtube.png" alt=""></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-5 d-flex jcc als">
                        <div class="inner-content">

                            <div class="top-bar">
                                <h3 class="fw-700 t-gray">Product</h3>
                            </div>
                            <ul class="d-flex fc unstyled">
                                <li>
                                    <a href="" class="link t-gray ">Landingpage</a>
                                </li>
                                <li>
                                    <a href="" class="link t-gray">Features</a>
                                </li>
                                <li>
                                    <a href="" class="link t-gray">Documentation</a>
                                </li>
                                <li>
                                    <a href="" class="link t-gray">Referral Program</a>
                                </li>
                                <li>
                                    <a href="" class="link t-gray">Pricing</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-5 d-flex jcc als">
                        <div class="inner-content">
                            <div class="top-bar">

                                <h3 class="fw-700 t-gray ">Services</h3>
                            </div>
                            <ul class="d-flex fc unstyled">
                                <li>
                                    <a href="" class="link t-gray ">Documentation</a>
                                </li>
                                <li>
                                    <a href="" class="link t-gray">Design</a>
                                </li>
                                <li>
                                    <a href="" class="link t-gray">Themes</a>
                                </li>
                                <li>
                                    <a href="" class="link t-gray">Illustrations</a>
                                </li>
                                <li>
                                    <a href="" class="link t-gray">UI Kit</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-5 d-flex jcc als">
                        <div class="inner-content">

                            <div class="top-bar">
                                <h3 class="fw-700 t-gray">Company</h3>
                            </div>
                            <ul class="d-flex fc unstyled">
                                <li>
                                    <a href="" class="link t-gray">About</a>
                                </li>
                                <li>
                                    <a href="" class="link t-gray">Terms</a>
                                </li>
                                <li>
                                    <a href="" class="link t-gray">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="" class="link t-gray">Careers</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-5 d-flex jcc als">
                        <div class="inner-content">

                            <div class="top-bar">
                                <h3 class="fw-700 t-gray my-1">More</h3>
                            </div>
                            <ul class="d-flex fc unstyled">
                                <li>
                                    <a href="" class="link t-gray ">Documentation</a>
                                </li>
                                <li>
                                    <a href="" class="link t-gray">License</a>
                                </li>
                                <li>
                                    <a href="" class="link t-gray">Changelog</a>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
                <div class="row my-4">
                    <div class="col w100 all-center fc">
                        <div class="oval my-2">
                            <img src="/assets2/images/heart.png" alt="">
                        </div>
                        <h6 class="t-gray fs-14">Copyright&copy;2023. Made by BH</h6>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="/assets2/js/script.js"></script>
</body>

</html>