<%- include('header') %>
    <div class="container">
        <div class="row">
            <div class="col w100 my-4">
                <p class="my-2">Your account is not verified, click here to verify...</p>
                <a href="/verifyUserId" class="dib link t-green">Verify your account</a>
            </div>
        </div>
    </div>
<%- include('footer') %>